.title{
    color: white;
    font-size: 25px;
    margin-left: 405px;
    margin-top: 113px;
    position: absolute;
}

.logo{
    max-height: 150px;
    max-width: 150px;
    margin-top: 100px;
    margin-left: 180px;
    position: absolute;
}

.paragrafo {
    color: white;
    font-size: 20px;
    text-align: justify;
    margin-top: 380px;
    margin-left: 180px;
    max-width: 580px;
    position: absolute;
}

.google-play{
    max-height: 43px;
    max-width: 180px;
    margin-top: 708px;
    margin-left: 470px;
    position: absolute;
}

.apple-store{
    height: 46px;
    width: 180px;
    margin-top: 707px;
    margin-left: 610px;
    position: relative;
    display: flex;
}

/*
.imgapple {
    height: 1000px;
} */

@media (max-width: 575.98px) { 
    .teste {
        flex-direction: row;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) { 
    
 }

@media (min-width: 768px) and (max-width: 991.98px) { 
    
 }

@media (min-width: 992px) and (max-width: 1199.98px) { 
    
 }

@media (min-width: 1200px) { 
    
 }