<app-header></app-header>
<div class="teste">
    <div class="row">
        <div class="">
            <span>
                <img src="/assets/marine.png" class="logo">
            </span>
        </div>
        <div class="col-6 title">
            <strong>
                <p>Plataforma de gestão náutica</p>
            </strong>
        </div>
    </div>

    <div class="row ">
        <div class="paragrafo">
            <p>Sistema desenvolvido para auxiliar na gestão e transparencia
                das atividades operacionais de Marinas e garagens náuticas, que conta com aplicativo
                para gestores e clientes, tornando a comunicação muito mais dinâmica entre clientes,
                Marinas e seus colaboradores.</p>
        </div>
    </div>
    <app-formulario></app-formulario>
    
    <div class="row">
        <div class="imgapple">
            <span>
                <img src="/assets/gplay.png" class="google-play ">
            </span>
        </div>
        <div>
            <span>
                <img src="/assets/app-store.png" class="apple-store">
            </span>
        </div>
    </div>
</div>
<app-footer></app-footer>