<div class="container formulario">
    <form [formGroup]="formularioDeUsuario" (ngSubmit)="enviarDados()">
        <div class="form-row">
            <div class="form-group col-md-12">
                <label class="label" for="nome"><span>Nome</span></label>
                <input type="text" class="form-control" formControlName="nome">
                <div *ngIf="nome.invalid && (nome.dirty || nome.touched)">
                    <div class="alert alert-danger" role="alert">
                        O nome deve ter pelo menos 6 caracteres.
                    </div>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <label class="label" for="email"><span>E-mail</span></label>
                <input type="email" class="form-control" formControlName="email">
                <div *ngIf="email.invalid && (email.dirty || email.touched)">
                    <div class="alert alert-danger" role="alert">
                        Digite um e-mail válido.
                    </div>
                    <div *ngIf="email.invalid.errors">
                        <div class="alert alert-danger" role="alert">
                            E-mail é obrigatório.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label class="label" for="senha"><span>Senha</span></label>
                <input type="password" class="form-control" formControlName="senha">
                <div *ngIf="senha.invalid && (senha.dirty || senha.touched)">
                    <div class="alert alert-danger" role="alert">
                        A senha deve conter no mínimo de oito caracteres, pelo menos uma letra maiúscula, uma letra
                        minúscula e um número.
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="label" for="confirmarSenha">Confirmar Senha </label>
                <input type="password" class="form-control" formControlName="confirmarSenha">
            <div *ngIf="senha.value !== confirmarSenha.value">
                    <div class="alert alert-danger" role="alert">
                        As senhas não conferem.
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="form-group col-md-6">
                <button [disabled]="!formularioDeUsuario.valid" type="button"
                    class="btn btn-outline-success" (click)="enviarDados()">Cadastrar</button>
            </div>
            <div class="form-group col-md-6"></div>
        </div>
        <br>
        <br>
    </form>
</div>