.formulario{
    border: 8px solid rgb(88, 184, 85);
    border-radius: 8px;
    padding: 5px 8px 5px 8px;
    height: 400px;
    max-width: 500px;
    margin-top: 115px;
    margin-left: 1200px;
    background-color: white;
}


.label{
    font-size: 18px;
    color: black;
    font-style: italic;
}

.btn-outline-success{
    position: fixed;
}