.navbar-dark{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.navbar-dark span{
    font-size: 1rem;
    font-weight: 300;
    color: white;
}