  .v-middle {
    vertical-align: middle;
  }
  html, body{
    height: 100%;
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
    background-size: 100%;
    background-repeat: no-repeat;
  }
